body {
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
}
header {
    background-color: blue;
    color: white;
    padding: 30px;
}
nav{
    color:white;
    text-decoration: none;
    margin: 20px;
}
main{
    padding: 60px;
}
button{
    background-color: blue;
    color: white;
    padding: 15px 25px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
#message{
    color: green;
    font-size: 20px;
    margin-top: 20px;
    font-weight: bold;
}
footer{
    background-color: blue;
    color: white;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;

    background-image: url("background.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    color: white;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;

    background-image: 
        linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
        url("background.jpg");

    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    color: white;
}