*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    font-family: Arial, sans-serif;
    background-color: #fcf9f9;
     color:white;

}
/*==================NAVBAR==================*/
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.85);
    backdrop-filter: blur(10px);
}
nav{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8%;
}
.logo{
    font-size: 30px;
    font-weight: bold;
}
.logo span{
    color: #ff3d00;
}
nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    transition: 0.3s;
}
nav ul li a:hover{
    color: #ff3d00;
}
/*==================HOME==================*/
.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding: 100px 10%;
    background: 
             linear-gradient(
                rgba(0,0,0,0.75)
                rgba(0,0,0,0.85)
             ),
             url("background image.avif");
             background-size: cover;
             background-position: center; 
}
.home-content{
   
    max-width: 700px;
}
.welcome{
    color:red;
    letter-spacing: 4px;
    margin-bottom: 20px;
}
.home h1 span,
title span{
    color: #00eaff;
}
.home h2{
    font-size: 28px;
    margin-bottom: 20px;
}
.home-content > p :not(.welcome) {
    color:#ccc
    line-height  1.7;
}
/*=============button================*/
.button{
    margin-top: 30px;
    display: flex;
    gap: 15px;
}
.btn{
    display: inline-block;
    padding: 14px 28px;
    background:#00eaff;
    color: #000;
    text-decoration: none;
    border-radius: 30px;
    font-weight: bold;
    transition: 0.3s;
}
.btn:hover{
    transform: translateY(-3px);
    background:white;

}
.btn.online{
    background:transparent;
    color:white;
    border: 2px solid #00eaff;

}
.btn.online:hover{
    background:#00eaff;
    color:black;
}
 /*================SECTION================*/
 .section{
       min-height: 100vh;
       padding: 100px 10%;
       display: flex;
       flex-direction: column;
       justify-content: center;    
 }
 .title{
    text-align: center;
    font-size: 42px;
    margin-bottom: 60px;
 }
/*================ABOUT================*/
.about-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
}
.photo-box img{
    width: 330px;
    height: 330px;
    object-fit: cover;
    border-radius: 20px;
    border: 3px solid #00eaff;
    box-shadow:0 0 30px rgba(0,234,255,0.25);

}
.about-content{
    max-width: 550px;
}
.about-content h3{
    font-size:30px;
    margin-bottom: 20px;
}
.about-content p{
    color:#ccc;
    line-height: 1.8;
    margin-bottom: 15px;
}
.read-btn{
    padding:12px 25px;
    background:#00eaff;
    border:none;
    border-radius: 25px;
    font-weight:bold;
    cursor:pointer;
}
#moreText{
    margin-top: 15px;
}
/*================SKILLS================*/
.skills-section{
    background:#101010;

}
.skills-container{
    display: flex;
    justify-content: center;
    gap:30px;

}
.skill-card{
    width:280px;
    padding:35px 25px;
    text-align:center;
    background:#181818;
    border:1px solid #333;
    border-radius:15px;
    transition:0.3s;

}
.skill-card:hover{
    transform:translatey(-10px);
    border-color:#00eaff;
    box-shadow:0 0 25px rgba(0,234,255,0.2);
}
.icon{
    font-size:45px;
    margin-bottom:15px;

}
.skill-card h3{
    color:#00eaff;
    font-size: 25px;
    margin-bottom: 15px;

}
.skill-card p{
    color: #bbb;
    line-height: 1.6;
}
/*===========CONTACT===========*/
.contact-section{
    background: #080808;
}
.contact-container{
    display: flex;
    justify-content: center;
    gap: 60px;

}
form{
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
input,
textarea{
        width: 100%;
        padding: 15px; 
        background: #151515;
        color: white;
        border: 1px solid #444;
        border-radius:8px;
        outline: none;
        font-size: 16px;
    }
    input:focus,
    textarea:focus{
        border-color: #00eaff;
    }
    .send-btn{
        padding: 15px;
        background: #00eaff;
        border: none;
        border-radius: 8px;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
        transition:0.3s;
        
    }

.send-btn:hover{
    background: white;

}
#status{
    text-align: center;
    font-weight: bold;
}
/*===============contact info==============*/
.contact-info{
    padding: 20px;

}
.contact-info h3{
    font-size: 30px;
    margin-bottom: 25px;

}
.contact-info p{
    color:#ccc;
    margin-bottom: 20px;
}
.social-buttons{
    display: flex;
    gap: 15px;
    margin-top: 30px;

}
.social{
    padding: 12px 20px;
    color:white;
    text-decoration: none;
    border:1px solid #00eaff;
    border-radius: 25px;
    transition:0.3s;


}
.socail:hover{
    background-color: #00eaff;
    color: black;
}
/*============Footer=======*/
footer{
    text-align: center;
    padding:25px;
    background: #050505;
    color:#888;

}
/*========MObile========*/
@media(max-width:768px){
    nav{
        padding: 0 5%;

    }
    nav ul{
        gap: 12px;
    }
    nav ul li a{
        font-size: 13px;
    }
    .home{
        padding:100px 6%;

    }
    .home h1{
        font-size: 45px;

    }
    .home h2{
        font-size: 22px;
    }
    .button{
        flex-wrap: warp;
    }
    .about-container{
        flex-direction: column;
        text-align: center;
    }
    .photo-box img{
        width:270px;
        height: 270px;
    }
    .skills-container{
        flex-direction: column;
        align-items: center;

    }
    .skill-card{
        width: 100%;
        max-width:350px;
    }
    .contact-container{
        flex-direction: column;

    }
    form{
        width: 100%;
    }
}
.music-btn{
    position:fixed;
    bottom: 25px;
    right:25px;
    z-index: 2000;
    padding: 12px 20px;
    background: #00eaff;
    color:#000;
    border: none;
    border-radius:25px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 0 15px rgba(0,234,255,0.4);
    transition:0.3s;
}
.music-btn:hover{
    background:white;
    transform:scale(1.05);
}
.home-content h1{
    color:#111;
}
.home-content h1 span{
    color: #00eaff;
}
.home-content h2{
    color: #333;
}
.home-content p{
    color:#444;
}
.welcome{
    color:#b85c5c;
}
.about-content h3,
.about-content p{
    color:#333;
}
#about.title{
    color:#111;

}
#about.title span{
    color:#00eaff
}
.about-content h3{
    color:#444;
}
.about-content p{
    color:#444;
}

#contact.title{
    color: #111;
}
#contact.title span{
    color:#00eaff
}
.contact-container h3{
    color:#333;
}
.contact-container,
.contact-container p{
    color:#333;
}
.contact-container a{
    color:#222;

}
footer{
    background-color: #111;
    color: white;

}
footer p{
    color:white;
}
.home{
    background-image: url(background3.avif);
    background-size: cover;
    background-position: center;
    background-repeat:  no-repeat;
}
.home::before{
    content:"";
    position:absolute;
    inset:0;
    background: rgba(0,0,0,0.45);
}
.home-content{
    position:relative;
    z-index: 1;
}
#about h2{
    color:#111 !important;

}
#contact h2{
    color:#111 !important;

}
footer, 
footer p{
    color:white !important;
}
.home-content h1{
    color: #111 !important;
}
.home-content h2{
    color: #222 !important;
}
.home-content p{
    color: #333 !important;
}
.home-content h1 span{
    color:#00a8C6 !important;
}